<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hasil Fuzzy Logic</title>
</head>
<body>
    <h1>Hasil Fuzzy Logic</h1>
    <div id="output">
        <h2>Output:</h2>
        <p>Nilai Output: {{ output_value }}</p>
        <p>Pola Asuh: {{ pola_asuh }}</p>
        <p>Membership Demokratis Values: {{ membership_values['demokratis'] }}</p>
        <p>Membership Otoriter Values: {{ membership_values['otoriter'] }}</p>
        <p>Membership Permisif Values: {{ membership_values['permisif'] }}</p>
        <p>Membership Tidak Terlibat Values: {{ membership_values['tidak_terlibat'] }}</p>
    </div>
    <a href="/">Kembali ke Form</a>
</body>
</html>
